/md
## {{ .Name }} Data
Here is some random markdown text.

### Normal Table
{{ .Table }}


{{ $length := len .Objects }} {{ if eq $length 0 -}}
  _There are 0 tickets in the queue_
{{else}}
**Stuff here**: 
  {{range $val := .Objects -}}
    "{{$val}}" == {{$val}}
  {{end}}
{{end}}

{{template "data.md.templ" . -}}

Remember to work in order.
{{ .Footer -}}
